<h2>Bookings List</h2>
<form>
  <div>
    <table mat-table [dataSource]= "bookings" class="w-100" matSort>
      <ng-container matColumnDef="customerName" class="w-100">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Customer Name</th>
        <td mat-cell *matCellDef="let booking" class="w-25">{{booking.customerName}}</td>
        <td mat-footer-cell *matFooterCellDef colspan="2">Total Bookings</td>
      </ng-container>

      <ng-container matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Location</th>
        <td mat-cell *matCellDef="let booking" class="w-25">{{booking.Location}}</td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
        <td mat-cell *matCellDef="let booking" class="w-25">{{booking.Date}}</td>
        <td mat-footer-cell *matFooterCellDef colspan="2">{{rows.length}}</td>
      </ng-container>


      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let booking" class="w-25">
          <button mat-button>Edit</button>
        </td>
      </ng-container>

      <!-- header row -->
      <tr mat-header-row *matHeaderRowDef= "columnsToDisplay"></tr>
      <tr mat-row *matRowDef = "let booking; columns: columnsToDisplay"></tr>

      <!-- footer row -->
      <tr mat-footer-row *matFooterRowDef="['customerName','date']" class="text-italic font-weight-bold" [ngClass]="{'hidden':!isLoadingCompleted}"></tr>


    </table>
  </div>

  <div [ngClass]="{'hidden':!isLoadingCompleted}">
    <mat-paginator [pageSize]="5" [pageSizeOptions]="[5,10,20]" showFirstLastButtons ></mat-paginator>
  </div>
</form>
